@model FavoriteMovie.Models.Media

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Media</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllocineDescription" class="control-label"></label>
                <input asp-for="AllocineDescription" class="form-control" />
                <span asp-validation-for="AllocineDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllocineLink" class="control-label"></label>
                <input asp-for="AllocineLink" class="form-control" />
                <span asp-validation-for="AllocineLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreamingLink" class="control-label"></label>
                <input asp-for="StreamingLink" class="form-control" />
                <span asp-validation-for="StreamingLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
