@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery

@functions {
    public string GetAntiforgeryToken() => antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@model FavoriteMovie.ViewsModels.Medias.MediaViewModel


@{
    ViewData["Title"] = "Medias";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Ajouter un titre</button></a>
</p>

<!-- Container for films with StreamingLink -->
<div id="mediasWithStreamingLinkContainer">
    <!-- Content loaded via AJAX -->
</div>

<!-- Container for films waiting -->
<div id="mediasWaitingContainer">
    <!-- Content loaded via AJAX -->
</div>


<script>
    const antiforgeryToken = '@GetAntiforgeryToken()';
</script>

