@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mot de passe oublié confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    S'il vous plait vérifier votre email pour réinitialiser votre mot de passe.
</p>
