@page
@model LockoutModel
@{
    ViewData["Title"] = "Compte vérouillé";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Votre compte n'est pas encore activé ou il est bloqué. Contactez l'administrateur.</p>
</header>
